body{
    background-color: #000000;
}
.header{
    width:calc(100% - 70px);
    position: relative;
    padding: 35px;
}
.logo{
    width: 374px;
    height: 54px;
    background-image: url(../source/logo.png);
}
.menu-item{
    color: #ffffff;
    font-size: 24px;
    font-family: Tahoma;
    display: inline-block;
    margin-left: 30px;
}
.menu{
    position: absolute;
    right: 40px;
    top: 40px;
}
.movie{
    margin: 50px;
    width: 250px;
    border-radius: 20px;
    background-color:  burlywood;
    transition: all 0.5s;
    display: inline-block;
    vertical-align: top;
}
.movie:hover{
    box-shadow: 0px 0px 150px burlywood;
    transform: scale(1.1);
}
.poster1{
    height: 450px;
    background-size: cover;
    border-radius: 25px 25px 0px 0px;
    background-position: center;
}
.info1{
    background-color:  burlywood;
    border-radius: 0px 0px 25px 25px;
    text-align: center;
    font-family: Tahoma;
}
.title{
    font-size: 20px;
    color: black;
}
.description{
    font-size: 18px;
    color: black;
    margin: 0px 0px 10px 0px;
}
.text{
    font-size: 25px;
    color: burlywood;
    width: auto;
    font-family: Tahoma;
}
.movie1{
    margin: 50px;
    width: 250px;
    border-radius: 20px;
    background-color: burlywood;
    transition: all 0.5s;
    vertical-align: top;
    float: left;
}
.header1{
margin: 20px;
width: 50px;
border-radius: 20px;
background-color: burlywood;
font-size: 30px;
color: black;
width: auto;
text-align: center;
font-family: Tahoma;
}
.line{
    width: 100%;
    color: burlywood;
}
.video
{
    width: auto;
    text-align: center;
}
